# **Problem Statement 1:**

In [1]:
import numpy as np
import pandas as pd

Load the dataset.

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Credit Banking_Project1.xls to Credit Banking_Project1.xls

In [3]:
df = pd.read_excel('Credit Banking_Project1.xls', sheet_name=['Customer Acqusition','Spend','Repayment'])

In [4]:
df_1 = df.get('Customer Acqusition')
df_2 = df.get('Repayment')
df_3 = df.get('Spend')

**Sanity Checks â€“ Data Cleaning**

Replacing values where age is less than 18 with NaN.

In [5]:
df_1['Age'] = df_1['Age'].mask(df_1['Age'] < 18)
df_1.head()

,Sl No:,Customer,Age,City,Credit Card Product,Limit,Company,Segment
0,1,A1,NaN,BANGALORE,Gold,500000,C1,Self Employed
1,2,A2,35.534551,CALCUTTA,Silver,100000,C2,Salaried_MNC
2,3,A3,NaN,COCHIN,Platimum,10000,C3,Salaried_Pvt
3,4,A4,45.820278,BOMBAY,Platimum,10001,C4,Govt
4,5,A5,69.663948,BANGALORE,Platimum,10002,C5,Normal Salary

In [6]:
df_2.rename(columns={'Amount': 'Amount_x'}, inplace=True)
df_3.rename(columns={'Amount': 'Amount_y'}, inplace=True)

In [7]:
df_2.head()

   SL No: Customer      Month       Amount_x
0       1       A1 2004-01-12  331844.007374
1       2       A1 2004-01-03  441139.807335
2       3       A1 2004-01-15   32480.004009
3       4       A1 2004-01-25   90636.966534
4       5       A1 2005-01-17    1581.969829

In [8]:
df_3.head()

   Sl No: Customer      Month       Type       Amount_y
0       1       A1 2004-01-12  JEWELLERY  473775.834869
1       2       A1 2004-01-03      PETRO  335578.666019
2       3       A1 2004-01-15    CLOTHES  371040.941912
3       4       A1 2004-01-25       FOOD  141177.813256
4       5       A1 2005-01-17     CAMERA  398403.771812

To give a credit of 2% of the surplus amount in the next month billing for customers who have repayment greater than spends:

In [9]:
merged_df = pd.merge(df_2, df_3, on=['Customer', 'Month'])
merged_df['Surplus'] = merged_df['Amount_x'] - merged_df['Amount_y']

In [10]:
merged_df.head()

,SL No:,Customer,Month,Amount_x,Sl No:,Type,Amount_y,Surplus
0,1,A1,2004-01-12,331844.007374,1,JEWELLERY,473775.834869,-141931.827495
1,1,A1,2004-01-12,331844.007374,103,TRAIN TICKET,52225.052808,279618.954566
2,103,A1,2004-01-12,390074.789989,1,JEWELLERY,473775.834869,-83701.044880
3,103,A1,2004-01-12,390074.789989,103,TRAIN TICKET,52225.052808,337849.737181
4,2,A1,2004-01-03,441139.807335,2,PETRO,335578.666019,105561.141316

In [11]:
credit_df = merged_df[merged_df['Surplus'] > 0]
credit_df['Credit'] = 0.02 * credit_df['Surplus']
credit_df['Next Month Billing'] = credit_df['Amount_y'] - credit_df['Credit']

<ipython-input-11-e470bf8c4d0b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_df['Credit'] = 0.02 * credit_df['Surplus']
<ipython-input-11-e470bf8c4d0b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_df['Next Month Billing'] = credit_df['Amount_y'] - credit_df['Credit']

In [12]:
credit_df.head()

,SL No:,Customer,Month,Amount_x,Sl No:,Type,Amount_y,Surplus,Credit,Next Month Billing
1,1,A1,2004-01-12,331844.007374,103,TRAIN TICKET,52225.052808,279618.954566,5592.379091,46632.673717
3,103,A1,2004-01-12,390074.789989,103,TRAIN TICKET,52225.052808,337849.737181,6756.994744,45468.058064
4,2,A1,2004-01-03,441139.807335,2,PETRO,335578.666019,105561.141316,2111.222826,333467.443193
11,6,A1,2005-02-23,357678.507744,229,CLOTHES,275670.692404,82007.815340,1640.156307,274030.536097
13,201,A1,2005-02-23,315077.286601,229,CLOTHES,275670.692404,39406.594197,788.131884,274882.560520

**Tasks:**

In [13]:
#To calculate the monthly spend of each customer.
monthly_spend = df_3.groupby(['Customer', 'Month'])['Amount_y'].sum()
print(monthly_spend)

Customer  Month
A1        2004-01-03    335578.666019
          2004-01-12    526000.887677
          2004-01-15    371040.941912
          2004-01-25    278552.250673
          2004-02-05     41381.105869
                            ...
A95       2004-01-15    347833.879524
A96       2004-01-25    320363.535698
A97       2004-01-12    164330.042270
A98       2004-01-03     87483.511992
A99       2004-01-15    476020.386647
Name: Amount_y, Length: 1257, dtype: float64

In [14]:
#To calculate the monthly repayment of each customer.
monthly_repayment = df_2.groupby(['Customer', 'Month'])['Amount_x'].sum()
print(monthly_repayment)

Customer  Month
A1        2004-01-03    441139.807335
          2004-01-12    721918.797363
          2004-01-15    109079.663890
          2004-01-25     90636.966534
          2004-02-05    191180.011618
                            ...
A95       2004-01-15     75109.492228
A96       2004-01-25    110139.014148
A97       2004-01-12    174606.392283
A98       2004-01-03     97802.598995
A99       2004-01-15    358589.924345
Name: Amount_x, Length: 1281, dtype: float64

In [15]:
#To calculate the 10 highest paying customers.
sorted_df = df_2.sort_values(by='Amount_x', ascending=False)
top_customers = sorted_df.head(10)

print("Top 10 highest paying customers:")
print(top_customers)

Top 10 highest paying customers:
      SL No: Customer      Month       Amount_x
714      715      A37 2006-03-25  499344.940170
1448    1449      A61 2006-04-01  499136.771967
435      436      A26 2005-02-03  498972.674978
80        81      A79 2006-03-31  497836.717301
728      729      A22 2006-05-08  497163.529407
107      108       A6 2004-01-03  497144.977565
581      582      A20 2004-01-12  496732.730151
1132    1133      A62 2005-02-01  496662.767546
722      723      A45 2006-04-19  496519.660471
511      512      A26 2004-11-23  496338.309643

In [16]:
#To determine which segment of customers is spending more money.
merged_2 = pd.merge(df_1, df_3, on='Customer')

segment_spend = merged_2.groupby('Segment')['Amount_y'].sum()
sorted_segments = segment_spend.sort_values(ascending=False)
print("Segments in decreasing order of spend:")
print(sorted_segments)

Segments in decreasing order of spend:
Segment
Normal Salary    1.077071e+08
Salaried_Pvt     7.170431e+07
Self Employed    7.097548e+07
Govt             6.732563e+07
Salaried_MNC     6.363949e+07
Name: Amount_y, dtype: float64

In [17]:
#To determine which age group is spending more money.
age_spend = merged_2.groupby('Age')['Amount_y'].sum()
sorted_age = age_spend.sort_values(ascending=False)
print("Age groups in decreasing order of spend:")
print(sorted_age)

Age groups in decreasing order of spend:
Age
36.922773    9.637819e+06
52.308794    9.595040e+06
74.001370    9.317672e+06
44.227930    9.148468e+06
78.142604    9.056652e+06
                 ...
40.538985    8.748351e+04
62.901735    8.393141e+04
68.410990    6.527798e+04
57.071061    5.694168e+04
23.607638    4.225419e+04
Name: Amount_y, Length: 78, dtype: float64

In [18]:
#To determine the most profitable segment.
merged_3 = pd.merge(df_1, df_2, on='Customer')
segment_repayment = merged_3.groupby('Segment')['Amount_x'].sum()
segment_profit = segment_spend - segment_repayment

most_profitable_segment = segment_profit.idxmax()
print("Most profitable segment:", most_profitable_segment)

Most profitable segment: Salaried_Pvt

In [19]:
#To determine in which category the customers are spending more money.
category_spend = df_3.groupby('Type')['Amount_y'].sum()
highest_spend_category = category_spend.idxmax()
print("Category with the highest spend:", highest_spend_category)

Category with the highest spend: PETRO

In [20]:
#To calculate the monthly profit for the bank.
monthly_profit = monthly_repayment - monthly_spend

print("Monthly profit for the bank:")
print(monthly_profit)

Monthly profit for the bank:
Customer  Month
A1        2004-01-03    105561.141316
          2004-01-12    195917.909686
          2004-01-15   -261961.278022
          2004-01-25   -187915.284139
          2004-02-05    149798.905749
                            ...
A95       2004-01-15   -272724.387296
A96       2004-01-25   -210224.521550
A97       2004-01-12     10276.350013
A98       2004-01-03     10319.087003
A99       2004-01-15   -117430.462302
Length: 2045, dtype: float64

In [21]:
#To impose an interest rate of 2.9% on the due amount for each customer.
df_2['Due Amount w/ Interest'] =  df_2['Amount_x'] + (df_2['Amount_x'] * 1.029)
print(df_2)

      SL No: Customer      Month       Amount_x  Due Amount w/ Interest
0          1       A1 2004-01-12  331844.007374           673311.490962
1          2       A1 2004-01-03  441139.807335           895072.669083
2          3       A1 2004-01-15   32480.004009            65901.928134
3          4       A1 2004-01-25   90636.966534           183902.405097
4          5       A1 2005-01-17    1581.969829             3209.816782
...      ...      ...        ...            ...                     ...
1495    1496      A67 2005-05-09  200288.874065           406386.125477
1496    1497      A68 2006-05-10  231194.702295           469094.050956
1497    1498      A69 2006-07-11  391195.615836           793735.904531
1498    1499      A70 2005-08-12  357629.618186           725630.495300
1499    1500      A71 2004-09-13  179771.745248           364756.871109

[1500 rows x 5 columns]